*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(32, 113, 157);
}

#start_btn,
#next-btn,
.boxes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#start_btn button{
    font-size: 25px;
    font-weight: 500px;
    color: rgb(238, 106, 255);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
}

#info_box{
    display: none;
    width: 540px;
    background: whitesmoke;
    border-radius: 5px;
}

.boxes .wrapper #info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(118, 139, 114);
    display: flex;
    align-items: center; /* solve */
    text-align: center; /* solve */
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(61, 61, 61);
}

#info_box #info_list{
    padding: 15px 35px;
}

#info_box #info_list .info_li{
    margin: 5px 0;
    font-size: 17px;
    color: rgb(52, 62, 71);
}

.info_li span{
    font-weight: 550;
    text-shadow: 1px 1px  rgba(48, 155, 212, 0.685);
}

#info_box #buttons_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 12px 35px;
    border-top: 1px solid rgba(209, 207, 207, 0.822);
}

#info_box #buttons_wrapper .buttons {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(68, 145, 187);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

button#restart {
    color: #ffffff;
    background: rgb(68, 145, 187);
}

button#restart:hover {
    background: rgb(32, 113, 157);
}

button#quit {
    color: rgb(68, 145, 187);
}

button#quit:hover {
    color: #ffffff;
    background: rgb(32, 113, 157);
}

#quiz_box{
    /* display: none; */
    width: 550px;
    background: #ffffff;
    border-radius: 5px;
}

#quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

#quiz_box #quiz_title{
    font-size: 20px;
    font-weight: 600;
}

#quiz_box #timer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 145px;
    background:rgba(110, 0, 110, 0.322);
    border: 1px solid rgba(112, 2, 112, 0.849);
    border-radius: 5px;
    padding: 0 8px
}

#quiz_box #timer_wrapper #timer_text{
    font-weight: 400;
    font-size: 17px;
}
    
#quiz_box #timer_wrapper #timer_sec{
    font-weight: 500;
    font-size: 18px;
    background:rgba(52, 62, 71, 0.377);
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(52, 62, 71)
}

#quiz_box section #quiz_wrapper{
    padding: 25px 30px 20px 30px;
    background: white;
}

#quiz_wrapper #questions{
    font-size: 25px;
    font-weight: 600;
}

#quiz_wrapper #choice_list{
    padding: 20px 0;
    display: block;
}

#quiz_wrapper #choice_list .choice_item{
    background:rgb(168, 226, 156);
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}