*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(32, 113, 157);
}

#start_btn,
.boxes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease; /* dynamic transition */
    box-shadow: opx 4px 8px 0 rgba(0,0,0,0.2)
}

/* when info box or quiz box is active: activate pointer events; bring to front; increase size; position in center of page*/ 
#info_box.activeInfo, 
#quiz_box.activeQuiz{
    z-index: 5;
    opacity: 1; /* visible when activated */ 
    pointer-events: auto;/* clickable when activated */
    transform: translate(-50%, -50%) scale(1); /* bring to center of page when activated */
}

/* start button styling */
#start_btn button{
    font-size: 25px;
    font-weight: 500px;
    color: rgb(238, 106, 255);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px; /* round edges */
    background: white;
}

#info_box{
    width: 540px;
    background: whitesmoke;
    border-radius: 5px; /* round edges */
    opacity: 0; /* invisible unless activated */ 
    pointer-events: none;/* no pointer events unless activated */
    transform: translate(-50%, -50%) scale(0.9); /* smaller than (1.0) when inactive) */
}

.boxes .wrapper #info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(118, 139, 114);
    display: flex;
    align-items: center; /* solve */
    text-align: center; /* solve */
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(61, 61, 61);
}

#info_box #info_list{
    padding: 15px 35px;
}

#info_box #info_list .info_li{
    margin: 5px 0;
    font-size: 17px;
    color: rgb(52, 62, 71);
}

.info_li span{
    font-weight: 550;
    text-shadow: 1px 1px  rgba(48, 155, 212, 0.685);
}

#info_box #buttons_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 12px 35px;
    border-top: 1px solid rgba(209, 207, 207, 0.822);
}

#info_box #buttons_wrapper .buttons {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(68, 145, 187);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

button#restart_btn {
    color: #ffffff;
    background: rgb(68, 145, 187);
}

button#restart_btn:hover { /* hover feature included for dynamic user experience */
    background: rgb(32, 113, 157);
}

button#quit_btn {
    color: rgb(68, 145, 187);
}

button#quit_btn:hover { /* hover feature included for dynamic user experience */
    color: #ffffff;
    background: rgb(32, 113, 157);
}

#quiz_box{
    width: 550px;
    background: #ffffff;
    border-radius: 5px;
    opacity: 0; /* invisible unless activated */
    pointer-events: none; /* no pointer events unless activated */
    transform: translate(-50%, -50%) scale(0.9);
}

#quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

#quiz_box #quiz_title{
    font-size: 20px;
    font-weight: 600;
}

#quiz_box #timer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 145px;
    background:rgba(110, 0, 110, 0.322);
    border: 1px solid rgba(112, 2, 112, 0.849);
    border-radius: 5px;
    padding: 0 8px
}

#quiz_box #timer_wrapper #timer_text{
    font-weight: 400;
    font-size: 16px;
    padding-left: 2px;
}
    
#quiz_box #timer_wrapper #timer_sec{
    font-weight: 500;
    font-size: 18px;
    background:rgba(52, 62, 71, 0.377);
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(52, 62, 71)
}

#quiz_box #quiz_wrapper{
    padding: 25px 30px 20px 30px;
    background: white;
}

#quiz_wrapper #questions{
    font-size: 25px;
    font-weight: 600;
}

#quiz_wrapper #choice_list{
    padding: 20px 0px;
    display: block;
}

#quiz_wrapper #choice_list .choice_item{ /* style choice item divs */
    background:rgb(168, 226, 156);
    border: 1px solid rgb(142, 223, 126);
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

#quiz_wrapper #choice_list .choice_item:hover{ /* div color changes slightly on hover for more dynamic experience */
    background: rgba(121, 211, 103, 0.904);
    border-color: white;
}

#quiz_wrapper #choice_list .choice_item.correct{ /* div turns green if incorrect choice is selected - only applied to the choice item that was clicked*/
    background: rgba(0, 128, 0, 0.726);
    border-color: white;
}
#quiz_wrapper #choice_list .choice_item.incorrect{ /* div turns red if incorrect choice is selected - only applied to the choice item that was clicked*/
    background: rgba(255, 0, 0, 0.671);
    border-color: white;
}

#quiz_wrapper #choice_list .choice_item.disabled{ /* other choices are disabled on click of a choice*/
    pointer-events: none;
}

#choice_list .choice_item:last-child{
    margin-bottom: 0px;
}

#quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button#nxt_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgb(32, 113, 157);
    border-radius: 5px;
    color: white;
    background:rgb(68, 145, 187);
    cursor: pointer;
}


button#nxt_btn:hover {
    background: rgb(32, 113, 157);

}

#result_box{
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0; /* invisible unless activated */ 
    pointer-events: none;/* no pointer events unless activated */
    transform: translate(-50%, -50%) scale(0.9); /* smaller than (1.0) when inactive */ 
}

#result_box #complete_text {
    font-size: 20px;
    font-weight: 500;
}

#result_box #score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

#result_box #score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

#result_box .buttons{
    display: flex;
    margin: 20px 0;
}

#result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgb(32, 113, 157);
    cursor: pointer;
    transition: all 0.3s ease;
}